{% extends 'base.html' %}

{% block title %}Reset Ok{% endblock %}

{% block content %}
<div class="col-md-4" style="font-size: 24px; width: 30vw; height: 30vh;">
    <h2>Solicitação de Senha Nova</h2>
    <p>Enviamos um e-mail com instruções para definir sua senha. Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</p>
    <center>
        <button class="btn btn-primary w-50 py-2" type="submit" style="font-size: 22px; background-color:darkblue; border-color:darkblue; border-radius: 50px" href="{% url 'login' %}" type="submit">Acessar</button>
    </center>
</div>

{% endblock %}