{% extends 'base.html' %}
{% block title %}Formulário Reset Senha{% endblock %}
{% block content %}
<div class="col-md-3" style="font-size: 24px; width: 20vw; height: 30vh;">
    {% if validlink %}
    <p>Entre com sua nova senha para resetar.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-3" style="font-size: 24px; width: 20vw; height: 10vh;">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1" style="font-size: 24px">Nova Senha:</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
        </div>
        <div class="col-md-3" style="font-size: 24px; width: 20vw; height: 10vh;">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2" style="font-size: 24px">Confirmação de senha:</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
        </div>
        <center>
        <button type="submit" class="btn btn-primary w-50 py-1" type="submit" style="font-size: 22px; background-color:darkblue; border-color:darkblue; border-radius: 50px">Alterar Senha</button>
        </center>
    </form>
    {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
    {% endif %}
</div>
{% endblock %}